* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.txt text eol=lf
CMakeLists.txt text eol=lf
*.defaults text eol=lf
*.projbuild text eol=lf
